
.e{
    width:600px ;
    height: 400px;
}

.nav-link{
    font-weight: 700 !important;
}

.navbar{
    padding-bottom: 20px !important;
}
.headeri{
    z-index: 2;
    padding: 10px;
}
.r{
    font-size: 40px;
}
.u{
    height: 300px;
    width: 500px;
}

.clasy{
    padding-left: 100px ;
}

.mai{
    margin: 0 125px;
}

.div{
    font-size: 19px;
}

#backgroundy{
    /* 122 => 132 */
    margin-left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 3vw;
    margin-bottom: 70px;
    border-radius: 5vw;
    z-index: 2;
    /* overflow:  hidden; */
    }

#backgroundy::before{
    /* 135 => 146 */
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url('https://st2.depositphotos.com/5991120/8867/v/450/depositphotos_88677446-stock-illustration-mountain-landscape-in-the-summer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: -10;
    left: 0;
    width: 1800px;
    height: 450px;
    filter: blur(3px) ;
}


.containery{
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    float: right;
}

.containery > *{
    padding: 0;
    margin: 0;
}


.element{
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
    align-items: center;
}
.fgf{
    margin-top: 10px;
    width: 30px;
    height: 30px;
  
}

.catalog{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
}

.photo{
  display: flex;
  justify-content: center;
}
.caru{
    display: flex;
    justify-content: center;
    width: 800px;
    height: fit-content;
}

.size_im{
    width: 800px;
    height: 500px;
}

.carusel{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.nav-{
     font-size:25px;
     display: flex;
     justify-content: center;
     
}
.fg{
       margin-top: 10px;
    width: 35px;
    height: 35px;
}
